@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;
}
body{
    background: #f5f5f5;
    /* height: 600vh; */
}
header{
    border-bottom: color(black) 1px solid;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
    height: 7rem;
    }

nav .local{
    cursor: pointer;
    opacity:70%;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
    color: black;
    font-weight: bold;
}
nav .local :hover{
    cursor: pointer;
}
hr{
    opacity:35%;
    color: rgb(165, 158, 158);
}
nav .contact-me{
    padding-left: 2rem;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}
nav .about{
    width: 180px;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .contact-me a{
    text-decoration: none;
}
nav .contact-me :hover{
    cursor: pointer;
    animation: about 1.5s ;
    -webkit-animation: about 1.5s ;
}
@keyframes about {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}
nav button{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    background: black;
    display: inline-flex;
    align-items: center;
    border-radius: 40px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 19px;
    overflow: hidden;
    z-index: 1;
    border: 2px solid black;

}
nav button:hover{
    cursor: pointer;
    background: white;
    color: black;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.main-section{
    height:90vh;
    width: 100%;
}
.intro{
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 220px;
    padding-top:4rem ;
}

.intro p{   
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    opacity:70%;
    color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-weight: 600;
}

/* .intro p::before{
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-150%,-10%);
    content: "";
    background-color: rgb(0, 184, 3);
    height: 0.75rem;
    width: 0.75rem;
    border-radius:100% ;
    -webkit-border-radius:100% ;
    -moz-border-radius:100% ;
    -ms-border-radius:100% ;
    -o-border-radius:100% ;
    -webkit-transform: translate(-150%,-10%);
    -moz-transform: translate(-150%,-10%);
    -ms-transform: translate(-150%,-10%);
    -o-transform: translate(-150%,-10%);
}
.intro p::after{
    animation: onlineAnim 1s infinite linear;
    display: block;
    content: '';
    position: absolute;
    left:612.38px;
    top: 264.1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    background: #00b803;
} */
@keyframes onlineAnim {
    0% {
        transform: scale(1.1);
        opacity: 1;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
}
    
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.intro #name{
    width:25% ;
    flex-wrap: wrap;
    display: flex;
    font-size: 120px;
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
}
.intro span{
    position: absolute;
    top: 6rem;
    left: -10rem;
}
.footer-main-section{
    display: flex;
    margin-top: 120rem;
    padding-inline: 45px ;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:3rem;
}

.first-img{
    height: 100vh;
    background: url(hero-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-section{
    height: 100vh;
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-inline: 45px ;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}
.about-me h2{
    border-bottom: 7px solid #109af7;
    border-top: 7px solid #000;
    display: inline-block;
    font-size:4rem;
    color: #222;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 5px 0;;
}
.about-me p{
    margin-bottom: 75px;
    margin-top: 10px;
    text-transform: none;
    font-size: 22px;
    font-weight: 400;
    opacity: 75;
    color: rgb(135, 135, 135);
}
.brief-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-photo{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 13rem;
}
.my-photo img{
    max-width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.brief{
    width: 60%;
    padding-inline: 45px ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.brief h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
    color: #109af7;
}
.brief h4{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
}
.brief p{
    font-size: 22px;
    font-weight: 400;
    text-transform: none;
    color: rgb(135, 135, 135);
    opacity: 75;
}
.brief a{
    text-decoration: none;
    background: transparent;
    border: 2px solid #109af7;
    border-radius: 1px;
    color: #109af7;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 5px;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    margin-top: 25px;
}
.brief a:hover{
    background: #109af7;
    color: #fff
}


.portfolio-section{
    background: #fff;
    height: 226vh;
}

.portfolio-section h1{
    width: 25%;
    padding-inline-start: 1.5rem;
    margin-top: 1rem;
    font-size: 5rem;
    font-weight:900;
}
.card-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    height: min-content;
    overflow: hidden;
    padding: 70px 25px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
.card{
    height: 240px;
    margin-bottom: 10rem;

}
.featured-card{
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #eaeaec;
}
.card-img{
    height: 450px;
    overflow: hidden;
    position: relative;
}
.card-img img{
    display: block;
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: .5s;
    -webkit-transition: .5s;
}
.lf-container{
    background: #f5f5f7;
    padding: 0 26px 0 26px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lf-container .left .title{
    font-size: 20px;
    margin: 0 0 6px;
    line-height: 28px;
    color: black;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
}
.lf-container .left .subtitle{
    margin: 0;
    font-size: 18px;
    color: rgb(82, 82, 82);
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 500;
}
.lf-container .right .date{
    font-size: 16px;
    display: block;
    letter-spacing: 0.5px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    border-radius: 30px;
    color:rgb(82, 82, 82);
    background: rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 10px 20px;
}


.more-about-me{
    background: #fff;
    height: 175vh;
}
.more-about-me .header p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.more-about-me .second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.more-about-me .img-box{
    height: 516px;
    margin-top: 3.25rem;
    border-radius: 300px;
}
.more-about-me .img-box .img{
    width: 100%;
    height: 100%;
}
.more-about-me .img-box img{
    display: block;
    width: 100%;
    height: 100%;
}
.text-box h4{
    margin-top: 3.25rem;
padding-inline: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
}
.text-box h5{
    padding-inline: 17rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
}
.text-box button{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    background: black;
    display: inline-flex;
    align-items: center;
    border-radius: 40px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 19px;
    overflow: hidden;
    z-index: 1;
    border: 2px solid black;
    margin-top: 2rem;
}
.text-box button:hover{
    cursor: pointer;
    background: white;
    color: black;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.skills{
    height: 165vh;
}
.skills .skills-container{
    display: flex;
    padding-top: 5rem;
    padding-inline: 2rem;
    gap: 5rem;

}
.skills .skills-container .left{
    position: sticky;
    top: 5rem;
    width: 50%;
    height: 100%;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
}
.skills .skills-container .left p{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
    color: rgb(82, 82, 82);
    padding-top: 2rem;
    font-family: "Inter Tight", sans-serif;
}
.skills-container{
        display: flex;
        justify-content: center;
}
.skills .skills-container .right{
    width: 50%;
    height: 100%;
    display: flex;

}
.box-container{
    width: 100%;
}
.skills-container .right .box{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 1px solid #26262629;
    margin-bottom: 60px;
    padding-bottom: 60px;
}
.skills-container .right .box span{
    font-size: 4rem;
}
.skills-container .right .box h4{
    text-transform: uppercase;
    font-size: 1.5rem;
}
.skills-container .right .box p{
    font-size: 1rem;
}    
.experiance{
    height: 145vh;
}
.experiance .experiance-container{
    display: flex;
    padding-top: 12rem;
    padding-inline: 2rem;
    gap: 5rem;

}
.experiance .experiance-container .left{
    position: sticky;
    top: 5rem;
    width: 50%;
    height: 100%;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
}


.experiance-container{
        display: flex;
        /* align-items: center; */
        justify-content: center;
}
.experiance .experiance-container .right{
    width: 50%;
    height: 100%;
    display: flex;

}
.experiance .experiance-container.box-container{
    width: 100%;
}
.experiance-container .right .box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #26262629;
    padding-bottom: 50px;
}
.experiance-container .right .box div{
    font-size: 30px;
    font-weight:700;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
    padding-top: 40px;
}
.experiance-container .right .box h4{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}
.experiance-container .right .box p{
    /*margin-top: 1rem;
    */font-size: 1rem;
}  

.footer-area{
    margin-top: 10rem;
}
.footer-area .footer-title{
    background: #c3bfbfa3;
    border-radius:30px ;
    text-transform: uppercase;
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 150px;
    text-align: center;
    font-weight: 700;
    overflow: hidden;
    font-family: "Inter Tight", sans-serif;
    -webkit-border-radius:30px ;
    -moz-border-radius:30px ;
    -ms-border-radius:30px ;
    -o-border-radius:30px ;
}

.footer-area .footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 40px;
}

.footer-area .footer-content p{
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    font-family: "Inter Tight", sans-serif;
    margin: 0;
    text-transform: uppercase;
}
.footer-area .footer-content a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.footer-area .footer-content a :hover{
    text-decoration:underline;
}
@media (max-width: 809px)  {
    .main-section{
        height: 50vh;
    }
    nav .local{
        padding-inline: 2rem;
        opacity:70%;
        color: rgb(0, 0, 0);
        font-size: 2rem;
        font-family: "Quicksand", sans-serif;
        color: black;
        font-weight: bold;
    }
    .nav-right{
        visibility: hidden;
    }
    .intro p{
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        padding-top:3rem ;
    }
    nav .contact-me{
        font-size: 1.75rem;
        color: black;
        font-weight: bold;
        padding-inline: 10rem;
    }
    .intro{
        padding-inline: 0.5rem;
        padding-top:0rem ;
    }
    .intro #name{
        width:100% ;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    .intro span{
        position: absolute;
        top: 4rem;
        left:4.5rem;
    }
    
    nav .R{
        visibility: hidden;
    }
    .footer-main-section{
        visibility: hidden;
    }
    .first-img{
        height: 60vh;
        width: 92%;
        transform: translateX(1.3rem);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        -webkit-transform: translateX(1.3rem);
        -moz-transform: translateX(1.3rem);
        -ms-transform: translateX(1.3rem);
        -o-transform: translateX(1.3rem);
}
.about-me-section{
    height: 110vh;
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-inline: 45px ;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}
.about-me h2{
    border-bottom: 4px solid #109af7;
    border-top: 4px solid #000;
    display: inline-block;
    font-size: 36px;
    color: #222;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 5px 0;;
}
.about-me p{
    margin-bottom: 3rem;
    padding-top: 10px;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    opacity: 75;
    color: rgb(135, 135, 135);
}
.brief-container{
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.my-photo{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-bottom: 2rem;
}
.my-photo img{
    max-width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.brief{
    width: 100%;
    padding-inline: 15px ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.brief h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
    color: #109af7;
}
.brief h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
}
.brief p{
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    color: rgb(135, 135, 135);
    opacity: 75;
}
.brief a{
    text-decoration: none;
    background: transparent;
    border: 2px solid #109af7;
    border-radius: 1px;
    color: #109af7;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 5px;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    margin-top: 25px;
}
.portfolio-section{
    height: 333vh;
    width: 100%;
}
.portfolio-section h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
    padding-inline: 45px ;
    font-size: 3rem;
    font-weight: bolder;
}
.card-list{
    grid-template-columns: repeat(1, 1fr);
}
.card{
    height: 240px;
    margin-bottom: 10rem;

}
.featured-card{
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #eaeaec;
}
.card-img{
    height: 450px;
    overflow: hidden;
    position: relative;
}
.card-img img{
    display: block;
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.more-about-me{
    background: #fff;
    height: 170vh;
}
.more-about-me .header p{
    font-size: 40px;
    letter-spacing: -1.3px;
    line-height: 30px;
    gap: 16px;
}
.more-about-me .header #more{
    margin-bottom: 10px;
}
.more-about-me .img-box{
    height: 516px;
    margin-top: 6rem;
    border-radius: 300px;
}
.text-box h4{
    margin-top: 3.25rem;
    padding-inline: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 24px;
    line-height: 28px;
}
.text-box h5{
    padding-inline: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 24px;
    line-height: 28px;
}
.skills{
    height: 210vh;
}
.skills .skills-container{
    display: flex;
    padding-top: 5rem;
    padding-inline: 2rem;
    gap: 5rem;

}
.skills .skills-container .left{
    position: sticky;
    top: 5rem;
    width: 50%;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
}
.experiance{
    height: 145vh;
}
.experiance .experiance-container{
    display: flex;
    padding-top: 0rem;
    padding-inline: 2rem;
    gap: 5rem;

}
.experiance .experiance-container .left{
    position: none;
    width: 100%;
    top: 5rem;
    font-size: 2rem;
    padding-left: 4rem;
}
.box-container{
    transform: translate(-5rem, 1rem);
    -webkit-transform: translate(-5rem, 1rem);
    -moz-transform: translate(-5rem, 1rem);
    -ms-transform: translate(-5rem, 1rem);
    -o-transform: translate(-5rem, 1rem);
}
.experiance-container .right .box h4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}
.experiance-container .right .box h4 span{
    padding-bottom: 10px;
}
.footer-area {
    visibility: hidden;
}
}