@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;
}
body{
    background:white;
}
header{
    border-bottom: color(black) 1px solid;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
    height: 7rem;
    }

nav .local{
    cursor: pointer;
    opacity:70%;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
    color: black;
    font-weight: bold;
}
nav .local :hover{
    cursor: pointer;
}
hr{
    opacity:35%;
    color: rgb(165, 158, 158);
}
nav .contact-me{
    padding-left: 2rem;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}
nav .contact-me img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
nav .about{
    width: 180px;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .contact-me a{
    text-decoration: none;
}
nav .contact-me :hover{
    cursor: pointer;
    animation: about .5s ;
    -webkit-animation: about .5s ;
}
@keyframes about {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    100%{
        transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
}
}
nav button{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    background: black;
    display: inline-flex;
    align-items: center;
    border-radius: 40px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 19px;
    overflow: hidden;
    z-index: 1;
    border: 2px solid black;

}
nav button:hover{
    cursor: pointer;
    background: white;
    color: black;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.main-section{
    height:93vh;
    width: 100%;
}
.intro{
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 220px;
    padding-top:4rem ;
}

.intro p{   
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    opacity:70%;
    color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-weight: 600;
}


.intro #name{
    width:25% ;
    flex-wrap: wrap;
    display: flex;
    font-size: 120px;
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
}
.intro span{
    position: absolute;
    top: 6rem;
    left: -10rem;
}
.footer-main-section{
    display: flex;
    margin-top: 120rem;
    padding-inline: 45px ;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:3rem;
}

.first-img{
    height: 100vh;
    background: url(hero-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-section{
    height: 100vh;
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-inline: 45px ;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}
.about-me h2{
    border-bottom: 7px solid #109af7;
    border-top: 7px solid #000;
    display: inline-block;
    font-size:4rem;
    color: #222;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 5px 0;;
}
.about-me p{
    margin-bottom: 75px;
    margin-top: 10px;
    text-transform: none;
    font-size: 22px;
    font-weight: 400;
    opacity: 75;
    color: rgb(135, 135, 135);
}
.brief-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-photo{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 13rem;
}
.my-photo img{
    max-width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.brief{
    width: 60%;
    padding-inline: 45px ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.brief h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
    color: #109af7;
}
.brief h4{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
}
.brief p{
    font-size: 22px;
    font-weight: 400;
    text-transform: none;
    color: rgb(135, 135, 135);
    opacity: 75;
}
.brief a{
    text-decoration: none;
    background: transparent;
    border: 2px solid #109af7;
    border-radius: 1px;
    color: #109af7;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 5px;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    margin-top: 25px;
}
.brief a:hover{
    background: #109af7;
    color: #fff
}


.portfolio-section{
    background: #fff;
    height: 100%;
}

.portfolio-section h1{
    width: 25%;
    padding-inline-start: 1.5rem;
    margin-top: 1rem;
    font-size: 5rem;
    font-weight:900;
}
.card-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    height: min-content;
    overflow: hidden;
    padding: 70px 25px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
.card{
    height: 240px;
    margin-bottom: 10rem;

}
.featured-card{
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #eaeaec;
}
.card-img{
    height: 450px;
    overflow: hidden;
    position: relative;
}
.card-img img{
    display: block;
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.lf-container{
    background: #f5f5f7;
    padding: 0 26px 0 26px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lf-container .left .title{
    font-size: 20px;
    margin: 0 0 6px;
    line-height: 28px;
    color: black;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
}
.lf-container .left .subtitle{
    margin: 0;
    font-size: 18px;
    color: rgb(82, 82, 82);
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 500;
}
.lf-container .right .date{
    font-size: 16px;
    display: block;
    letter-spacing: 0.5px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    border-radius: 30px;
    color:rgb(82, 82, 82);
    background: rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 10px 20px;
}


.more-about-me{
    background: #fff;
    height: 100%;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
}
.more-about-me .header p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.more-about-me .second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.more-about-me .img-box{
    height: 716px;
    margin-top: 3.25rem;

}
.more-about-me .img-box .img{
    width: 100%;
    height: 100%;
}
.more-about-me .img-box img{
    border-radius:40rem ;
    -webkit-border-radius:40rem ;
    -moz-border-radius:40rem ;
    -ms-border-radius:40rem ;
    -o-border-radius:40rem ;
    width: 100%;
    height: 100%;
}
.text-box h4{
    font-weight: 700;
    margin: 0;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 40px;
}
.text-box h5{
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.4px;
    line-height: 34px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 922px;
    margin-left: auto;
    margin-right: auto;
}
.text-box button{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    background: black;
    display: inline-flex;
    align-items: center;
    border-radius: 40px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 19px;
    overflow: hidden;
    z-index: 1;
    border: 2px solid black;
    margin-top: 2rem;
}
.text-box button:hover{
    cursor: pointer;
    background: white;
    color: black;
    transition: 1s;
}
.expertise{
    height: 100%;
}
.expertise .left{
    padding-inline: 2rem;
    padding-top: 2rem;
}
.expertise .left span{
    font-size: 90px;
    letter-spacing: -2.3px;
    line-height: 80px;
    font-weight: 700;
    color: var(--dark);
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.expertise .left span h3{
    text-transform: uppercase;
    line-height: 80px;
    display: block;
    overflow: hidden;
}
.expertise-list-wrap{
    margin-top: 3rem;
    padding-inline: 2rem;

}
.expertise-list1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 24px;
}
.expertise-list2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.expertise-box{
    background: #f5f5f7;
    border: 0px solid rgba(0, 0, 0, .04);
    border-radius: 10px;
    padding: 30px 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 1.2rem;
}
.expertise-box .btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.expertise-box .btn a{
    text-decoration: none;
    width: 50px;
    height: 50px;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333336;
    border-radius: 50%;
    font-size: 18px;
}
.expertise-box .btn a i{
    color: #fff;
}
.expertise-box h4{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.expertise-box h4 span{
    font-size: 30px;
}
.expertise-box h4 p{
    font-size: 20px;
}


.motivation{
    height: 100%;
}
.motivation .motivation-container{
    display: flex;
    padding-top: 5rem;
    padding-inline: 2rem;
    gap: 5rem;

}
.motivation .motivation-container .left{
    position: sticky;
    top: 5rem;
    width: 50%;
    height: 100%;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
}
.motivation .motivation-container .left p{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
    color: rgb(82, 82, 82);
    padding-top: 2rem;
    font-family: "Inter Tight", sans-serif;
}
.motivation-container{
        display: flex;
        justify-content: center;
}
.motivation .motivation-container .right{
    width: 50%;
    height: 100%;
    display: flex;

}
.box-container{
    width: 100%;
}
.motivation-container .right .box{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 0px solid #26262629;
    margin-top: 2rem;
}
.motivation-container .right .box p{
    font-size:1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 2rem;
    font-family: "Inter Tight", sans-serif;
    line-height: 34px;
    flex-wrap: wrap;
}    
.motivation-container .right .box span{
    font-style: italic;
    font-weight: 900;
}
.motivation-container .right .box img{
    padding-top: 2rem;
    height: inherit;
    max-width: 188px;
    object-fit:fill;
}

.work4{
    height: 100%;
    margin-top: 5rem;
}

.work4.img-box img{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.experiance{
    height: 100%;
}
.experiance .experiance-container{
    display: flex;
    margin-top: 5rem;
    padding-inline: 2rem;
    gap: 5rem;

}
.experiance .experiance-container .left{
    position: sticky;
    top: 5rem;
    width: 43%;
    height: 100%;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
}


.experiance-container{
        display: flex;
        /* align-items: center; */
        justify-content: center;
}
.experiance .experiance-container .right{
    width: 70%;
    height: 100%;
    display: flex;

}
.experiance .experiance-container.box-container{
    width: 100%;
}
.experiance-container .right .box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #26262629;
    padding-bottom: 50px;
}
.experiance-container .right .box div{
    font-size: 30px;
    font-weight:700;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
    padding-top: 40px;
}
.experiance-container .right .box h4{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}
.experiance-container .right .box p{
    color: rgb(82, 82, 82);
    font-size: 18px;
    font-weight: 500;
    margin-top: 0.5rem;
}  
/* -------------------------------------- */
.awards{
    height:100%;
}
.awards .awards-container{
    display: flex;
    margin-top: 5rem;
    padding-inline: 2rem;
    gap: 5rem;

}
.awards .awards-container .left{
    position: sticky;
    top: 5rem;
    width: 43%;
    height: 100%;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
}


.awards-container{
        display: flex;
        /* align-items: center; */
        justify-content: center;
}
.awards .awards-container .right{
    width: 70%;
    height: 100%;
    display: flex;

}
.awards .awards-container.box-container{
    width: 100%;
}
.awards-container .right .box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #26262629;
    padding-bottom: 50px;
}
.awards-container .right .box div{
    font-size: 30px;
    font-weight:700;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
    padding-top: 40px;
}
.awards-container .right .box h4{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}
.awards-container .right .box p{
    /*margin-top: 1rem;
    */font-size: 1rem;
} 
.last{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
    padding-top: 10rem;
}
.flex{
    display: flex;
    flex-direction: column;
    transform: translate(10rem);
    -webkit-transform: translate(10rem);
    -moz-transform: translate(10rem);
    -ms-transform: translate(10rem);
    -o-transform: translate(10rem);
}
.flex span{
    transform: translate(-10rem, 0px);
    -webkit-transform: translate(-10rem, 0px);
    -moz-transform: translate(-10rem, 0px);
    -ms-transform: translate(-10rem, 0px);
    -o-transform: translate(-10rem, 0px);
}


.work2{
    height: 100%;
    margin-top: 10rem;
}
.img-box img{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.asked{
    height: 100%;
    margin-top: 5rem;
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.first h3{
    margin-top: 5rem;
    font-size: 50px;
    letter-spacing: -0.8px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
} 
.second{
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.second .according{
    cursor: pointer;
    padding: 24px 24px 24px 36px;
    background: rgb(245, 245, 247);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.07) !important;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.according .right{
    padding: 24px 24px 24px 36px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    background: none;
    color: black;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;;
}
.according .left{
    font-size: 20px;
}




.footer-area{
    height: 100%;
    margin-top: 10rem;
}
.footer-area .footer-title{
    text-transform: uppercase;
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 150px;
    text-align: center;
    font-weight: 700;
    overflow: hidden;
    font-family: "Inter Tight", sans-serif;
}

.footer-area .footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 40px;
}

.footer-area .footer-content p{
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    font-family: "Inter Tight", sans-serif;
    margin: 0;
    text-transform: uppercase;
}
.footer-area .footer-content a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.footer-area .footer-content a :hover{
    text-decoration:underline;
}
@media (max-width: 480px)  {
    .main-section{
        height: 50vh;
    }
    nav .local{
        padding-inline: 2rem;
        opacity:70%;
        color: rgb(0, 0, 0);
        font-size: 2rem;
        font-family: "Quicksand", sans-serif;
        color: black;
        font-weight: bold;
    }
    .nav-right{
        visibility: hidden;
    }
    .intro p{
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        padding-top:3rem ;
    }
    nav .contact-me{
        font-size: 1.75rem;
        color: black;
        font-weight: bold;
        padding-inline: 10rem;
    }
    .intro{
        padding-inline: 0.5rem;
        padding-top:0rem ;
    }
    .intro #name{
        width:100% ;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    .intro span{
        position: absolute;
        top: 4rem;
        left:4.5rem;
    }
    
    nav .R{
        visibility: hidden;
    }
    .footer-main-section{
        visibility: hidden;
    }
    .first-img{
        height: 60vh;
        width: 92%;
        transform: translateX(1.3rem);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        -webkit-transform: translateX(1.3rem);
        -moz-transform: translateX(1.3rem);
        -ms-transform: translateX(1.3rem);
        -o-transform: translateX(1.3rem);
}
.about-me-section{
    height: 110vh;
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-inline: 45px ;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}
.about-me h2{
    border-bottom: 4px solid #109af7;
    border-top: 4px solid #000;
    display: inline-block;
    font-size: 36px;
    color: #222;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 5px 0;;
}
.about-me p{
    margin-bottom: 3rem;
    padding-top: 10px;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    opacity: 75;
    color: rgb(135, 135, 135);
}
.brief-container{
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.my-photo{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-bottom: 2rem;
}
.my-photo img{
    max-width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.brief{
    width: 100%;
    padding-inline: 15px ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.brief h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
    color: #109af7;
}
.brief h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
}
.brief p{
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    color: rgb(135, 135, 135);
    opacity: 75;
}
.brief a{
    text-decoration: none;
    background: transparent;
    border: 2px solid #109af7;
    border-radius: 1px;
    color: #109af7;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 5px;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    margin-top: 25px;
}
.portfolio-section{
    height: 333vh;
    width: 100%;
}
.portfolio-section h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
    padding-inline: 45px ;
    font-size: 3rem;
    font-weight: bolder;
}
.card-list{
    grid-template-columns: repeat(1, 1fr);
}
.card{
    height: 240px;
    margin-bottom: 10rem;

}
.featured-card{
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #eaeaec;
}
.card-img{
    height: 450px;
    overflow: hidden;
    position: relative;
}
.card-img img{
    display: block;
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


.more-about-me{
    background: #fff;
    height: 100%;
}
.more-about-me .header p{
    font-size: 40px;
    letter-spacing: -1.3px;
    line-height: 30px;
    gap: 16px;
}
.more-about-me .header #more{
    margin-bottom: 10px;
}
.more-about-me .second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.more-about-me .img-box{
    width: 316px;
    height: 516px;
    margin-top: 3.25rem;
}
.more-about-me .img-box .img{
    width: 100%;
    height: 100%;
}
.more-about-me .img-box img{
    border-radius:40rem ;
    -webkit-border-radius:40rem ;
    -moz-border-radius:40rem ;
    -ms-border-radius:40rem ;
    -o-border-radius:40rem ;
    width: 100%;
    height: 100%;
}
.text-box h4{
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: 0;
    line-height: 25px;
}
.text-box h5{
    font-weight: 0;
    font-size: 0px;
    letter-spacing: 0.4px;
    line-height: 34px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 922px;
    margin-left: auto;
    margin-right: auto;
}
.text-box button{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    background: black;
    display: inline-flex;
    align-items: center;
    border-radius: 40px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 19px;
    overflow: hidden;
    z-index: 1;
    border: 2px solid black;
    margin-top: 2rem;
}
.text-box button:hover{
    cursor: pointer;
    background: white;
    color: black;
    transition: 1s;
}



.expertise{
    height: 100%;
}
.expertise .left{
    padding-inline: 2rem;
    padding-top: 2rem;
}
.expertise .left span{
    font-size: 50px;
    letter-spacing: -2.3px;
    line-height: 0px;
    font-weight: 700;
    color: var(--dark);
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.expertise .left span h3{
    text-transform: uppercase;
    line-height: 80px;
    display: block;
    overflow: hidden;
}
.expertise-list-wrap{
    margin-top: 3rem;
    padding-inline: 2rem;

}
.expertise-list1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin-bottom: 24px;
}
.expertise-list2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}
.expertise-box{
    background: #f5f5f7;
    border: 0px solid rgba(0, 0, 0, .04);
    border-radius: 10px;
    padding: 30px 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 1.2rem;
}
.expertise-box .btn{
    height: 0px;
    visibility: hidden;
    order: 1;
    font-size: 0px;
}
.expertise-box h4{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.expertise-box h4 span{
    font-size: 30px;
}
.expertise-box h4 p{
    font-size: 20px;
}


.motivation{
    height: 100%;
    margin-bottom: 4rem;
}
.motivation .motivation-container{
    display: block;
    unicode-bidi: isolate;
    margin-left: 0rem;
    width: 100%;

}
.motivation .motivation-container .left{
    position: block;
    top: 0rem;
    width: 50%;
    height: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
}

.motivation .motivation-container .right{
    width:100%;
    height: 100%;
    display: block;

}
.motivation-container .right .box p{
    font-size:1.4rem;
    font-weight: 500;
    text-transform:capitalize;
    padding-top: 0rem;
    font-family: "Inter Tight", sans-serif;
    line-height: 34px;
    flex-wrap:nowrap;
}    
.motivation-container .right .box span{
    font-style: italic;
    font-weight: 900;
}
.motivation-container .right .box img{
    padding-top: 2rem;
    height: inherit;
    max-width: 188px;
    object-fit:fill;
}


.work4{
    height: 100%;
}
.img-sec{
    height: 100%;
    display: flex;
    padding-inline: 1rem;
    gap: 4rem;
}
.work4 .img-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-box img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* ------------------------------- */
.experiance{
    height: 100%;
}
.experiance .experiance-container{
    display:block;
    padding-top: 0rem;
    padding-inline: 2rem;
    gap: 5rem;

}
.experiance .experiance-container .left{
    position: none;
    width: 100%;
    top: 5rem;
    font-size: 2.5rem;
    padding-left: 0rem;
}
.box-container{
    transform: translate(0rem, 0rem);
    -webkit-transform: translate(0rem, 0rem);
    -moz-transform: translate(0rem, 0rem);
    -ms-transform: translate(0rem, 0rem);
    -o-transform: translate(0rem, 0rem);
}
.experiance-container .right .box h4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
}
.experiance-container .right .box h4 span{
    padding-bottom: 10px;
}
.experiance-container .right .box p{
    font-size: 20px;
}


.awards{
    height:100%;
    padding-top: 5rem;
}
.awards .awards-container{
    display: block;
    margin-top: 5rem;
    padding-inline: 2rem;
    gap: 5rem;

}
.awards .awards-container .left{
    position: sticky;
    top: 5rem;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
}



.awards .awards-container .right{
    width: 100%;
    height: 100%;
    display: flex;

}

.awards-container .right .box div{
    font-size: 25px;
    font-weight:700;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
    padding-top: 40px;
}
.awards-container .right .box h4{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.awards-container .right .box p{
    font-size: 18px;
} 
.last{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Inter Tight", sans-serif;
    padding-top: 5rem;
}
.flex{
    display: flex;
    flex-direction: column;
    transform: translate(10rem);
    -webkit-transform: translate(10rem);
    -moz-transform: translate(10rem);
    -ms-transform: translate(10rem);
    -o-transform: translate(10rem);
}
.flex p{
    transform: translate(-5rem, 0px);
    -webkit-transform: translate(-5rem, 0px);
    -moz-transform: translate(-5rem, 0px);
    -ms-transform: translate(-5rem, 0px);
    -o-transform: translate(-5rem, 0px);
}
.flex span{
    transform: translate(-10rem, 0px);
    -webkit-transform: translate(-10rem, 0px);
    -moz-transform: translate(-10rem, 0px);
    -ms-transform: translate(-10rem, 0px);
    -o-transform: translate(-10rem, 0px);
}


.asked{
    height: 100%;
    margin-top: 0rem;
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.first h3{
    margin-top: 5rem;
    font-size: 40px;
    letter-spacing: -0.8px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
} 
.second{
        padding: 0 20px;
}
.second .according{
    cursor: pointer;
    padding: 24px 24px 24px 36px;
    background: rgb(245, 245, 247);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.07) !important;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.according .right{
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
}
.according .left{
    font-size: 20px;
    color: #525252;
}

/* --------------------- */
.footer-area {
    visibility: hidden;
}
}

@media (max-width: 768px) {
    
}